.flex-container {
  height: 100vh;
  display: flex;
  /* gap: 10px; */
  /* flex-wrap: wrap; */
  row-gap: 30px;
  column-gap: 20px;
  /* flex-direction: column-reverse; */
  /* flex-flow: column-reverse wrap; */
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-items: flex-end; */
  /* align-items: stretch; */
  /* align-items: flex-end; */
  /* justify-content: center; */
  /* align-content: center; */
  /* align-content: space-evenly; */
  align-items: flex-end;
}

.child {
  /* width: 200px; */
  /* width: 200px; */
  height: 200px;
  background-color: blue;
}

.flex-container .child:first-child {
  background-color: red;
  /* padding-top: 20px; */
  /* order: 1; */
  width: 30px;
  flex-grow: 1;
}
.flex-container .child:nth-child(2) {
  background-color: plum;
  /* padding-top: 10px; */
  /* order: 3; */
  /* order: -2; */
  width: 40px;
  flex-grow: 1;
  align-self: center;
}
.flex-container .child:last-child {
  background-color: orange;
  /* padding-top: 30px; */
  /* order: 2; */
  /* order: -1; */
  width: 30px;
  flex-grow: 8;

  align-self: flex-start;
}

